root = true

[*]
insert_final_newline = true
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

# Go files
[*.go]
indent_style = space
indent_size = 4
max_line_length = 80

# Go module files
[{go.mod,go.sum}]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Other files
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2